<h1>Log In</h1>

<form method='post' action='/sessions'>
  <input type='text' name='username' placeholder='Enter Username' />
  <input type='password' name='password' placeholder='Enter Password' />
  <input type='submit' value='Log in' />
</form>
