<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui black header">
      <div class="content">Log-in to your account</div>
    </h2>
    <form class="ui large form" method='post' action='/sessions'>
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left input">
            <input type='text' name='username' placeholder='Enter Username' />
          </div>
        </div>
        <div class="field">
          <div class="ui left input">
            <input type='password' name='password' placeholder='Enter Password' />
          </div>
        </div>
        <input class="ui fluid large orange button" type="submit" value="Log In">
      </div>
    </form>
  </div>
</div>
