<h1>Create New User</h1>

<form method='post' action='/users'>
  <div class="ui input ">
    <input type='text' name='username' placeholder='Enter Username' />
    <input type='text' name='email' placeholder='Enter Email' />

    <input type='password' name='password' placeholder='Enter Password'/>
    <input type='password' name='password_confirmation' placeholder='Re-enter Password' />
  </div>
  <input type='submit' />
</form>
