<h1></h1>

<div class="question ui center aligned header">
  <h2 class="ui header black">
    You've already completed this survey!
  </h2>
  <a href ="/">
    <button class="ui center aligned blue button">
      Take More Surveys!
    </button>
  </a>
</div>
