<h1>Create a new survey</h1>
<form class "ui large form" action="/surveys" method="post">
  <h5>Enter Your Survey Title</h5>
  <textarea rows='1' cols='50' name="title"></textarea>

<!-- error message -->
  <input type="submit" value="Create Questions">
</form>
<form action="/" method ="get">
  <input type="submit" value="Cancel">
</form>
