<p>
  Please login!
  
  <form method='post' action=''>
    <input name='username' value='username'>
    <input name='password_hash' value='password'>
    <input type='submit' value='Login'>
  </form>
</p>
